/* (((((((((((((((                   INDEX.PHP                                    )))))))))*/


/*#####################################  MAIN SECTION  ########################################*/
.mainSectionContainer{
    display: grid;
    grid-template-columns: 196px 1fr;
    grid-template-rows: 75px 1fr;
}


/*#################################  SIDEBAR SUB SECTION  ####################################*/
.sideBarContainer{
    grid-row: 1 / 3;
    height: 100vh; 
}



/*###################################  BUTTON SECTION  ######################################*/
.buttonSectionContainer{
    grid-column: 2;
}

.floatingButtons{
    display: none;
    font-size: 2rem;
    position: absolute;
    top: 2.5rem;
    left: 2.5rem;
    z-index: 2;
    background-color: var(--color-primary);
    border-radius: 8px;
    color: white;
    width: 2rem;
    height: 1.2rem;
}





/*###################################  TABLE SUB SECTION  ##################################*/
.tableContainer{
    grid-row: 2;
    grid-column: 2; 
    position: relative;
    margin-bottom: 2rem;
}



table {   
    border-collapse: collapse;
    border-spacing: 0;
    table-layout: fixed;
    min-width: 85%;
    position: absolute;
    top: 167px; 
    left: 50%;
    transform: translateX(-50%);
}


th {
    font-size: 11.4px;
    background-color: var(--color-primary-light);
    padding: 10px 25px;
}

td{
    font-size: 11px;
    text-align: center;
    padding: 5px 15px;
}

th, td {
    text-wrap: nowrap;
}

th:nth-child(1){
    border-radius: 8px 0 0 0;
}

th:last-child{
    border-radius: 0 8px 0 0;
}

table tr td:nth-child(6){
    background-color: var(--color-primary-light);
}

table td:nth-child(9n+1){
    max-width: 10px;
}

table th:nth-child(9n+1){
    padding: 0;
}

table tr td:nth-child(even) td:not(:nth-child(6)) {
    background-color: #E1D5F2;
}

table tr td:nth-child(odd) td:not(:nth-child(6)) {
    background-color: #DACAF0;
}

tr:hover {
    transition: var(--transition);
} 

tr:hover td, td:nth-child(6) {
    background-color: var(--color-primary-300);
}

input[type="checkbox"] {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    border: 2px solid var(--color-primary-light);
    outline: none;
    cursor: pointer;
    transition: var(--transition);
}

/* Style for checked state */
input[type="checkbox"]:checked {
    background-color: var(--color-accent); /* Change this color as needed */
    border-color: var(--color-primary-900);
    color: #fff;
}