/* (((((((((((((((                   INDEX.PHP                                    )))))))))*/

/*################################  MAIN SECTION  ##################################*/
.mainSectionContainer {
  display: grid;
  grid-template-columns: 283px auto;
  grid-template-rows: 75px auto;
  height: auto;
}

/*#################################  SIDEBAR SUB SECTION  ####################################*/
.sideBarContainer {
  grid-row: 1 / 3;
  height: 100vh;
  width: 283px;
  z-index: 99;
  background-color: var(--color-grey-backgrund); 
  position: fixed;
  top: 48px;
  left: 0px;
  border-right: 1px solid #2a2a2a;
}

.nav-top-section > div.inactive{
  display: none;
}

.nav-top-section {
  display: flex;
  justify-content: space-around;
  gap: 3rem;
  align-items: center;
  padding: 10px 0;
  cursor: pointer; 
  transform: var(--transition);   
}

.nav-top-section > button > i {
  padding: 10px;
  width: 35px;
  height: 35px;
  background-color: transparent;
} 

.nav-top-section > h2 {
  color: var(--color-text-heading);
}

#closeNavButton {
  color: var(--color-text-heading);
}

.nav-top-section:hover {
  background-color: rgba(0, 0, 0, 0.05);
}

.nav-middle-section {
  padding: 0.8rem 1.6rem;
}

.nav-middle-section h3 {
  text-wrap: nowrap;
  width: 232px;
  max-width: 232px;
  padding: 12px 20px;
  margin: 10px 0;
  border-radius: 8px;
  font-size: 13px;
  font-weight: 500;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  transition: all 60ms ease-in;
}

.nav-middle-section h3:not(.active) {
  border-radius: 0px;
}

.nav-middle-section h3:not(.active):hover {
  background-color: rgba(0, 0, 0, 0.05);
  letter-spacing: 0.2px;
  cursor: pointer;
}

.nav-middle-section h3.active {
  background-color: var(--color-primary-light);
  font-weight: 600;
  font-size: 14px;
}

.zero-risk {
  color: var(--color-success-green);
  background-color: var(--color-success-light-green);
}

.one-risk {
  color: var(--color-warning-orange);
  background-color: var(--color-warning-light-orange);
}

.two-risk {
  color: var(--color-danger-red);
  background-color: var(--color-danger-light-red);
}

.zero-risk, .one-risk, .two-risk {
  font-weight: 900;
  font-size: 12px;
}

.nav-bottom-section {
  position: absolute; 
  left: 79px;
  /* 283px */
  bottom: 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.nav-bottom-section button {
  width: 125px;
  min-width: 125px;
  max-width: 125px;
  height: 34px;
  min-height: 34px;
  max-height: 34px;
  font-size: 16px;
  border: none;
  border-radius: var(--button-border-radius);
  transition: var(--transition);
}

.nav-bottom-section p {
  font-size: 10px;
}

.admin-special-button {
  margin-bottom: 15px;
  background-color: var(--color-success-green);
  color: #fff;
}

.admin-special-button:hover {
  background-color: rgba(41, 204, 95, 0.7);
}

.log-out {
  outline: 1px solid #2a2a2a;
  margin-bottom: 15px;
}

.log-out:hover {
  background-color: var(--color-danger-red);
  color: #fff;
  /* find out how to change color on the fly on hover */
}



/*###################################  BUTTON SECTION  ######################################*/
.buttonSectionContainer {
  grid-column: 2;
  border-bottom: 0.5px solid var(--color-primary-100);
  display: table-footer-group;
  display: flex;
  flex-direction: row;
  width: auto;
  flex-wrap: nowrap;
  justify-content: space-between;
  padding: 0 2rem;
  align-items: center;
  /* margin-left: 87px; */
  position: sticky;
  top: 48px;
  z-index: 101;
  background-color: var(--color-grey-backgrund);
}

.buttonSectionContainer button {
  min-width: 158px;
  white-space: nowrap;
  font-size: 16px;
  font-weight: 400;
  padding: 5px 30px;
  cursor: pointer;
  border-radius: var(--button-border-radius);
  border: none;
}

.buttonSectionContainer button i {
  padding-left: 10px;
}

.floatingButtons{
    font-size: 2rem;
    position: absolute;
    top: 2.5rem;
    left: 5rem;
    z-index: 2;
    background-color: var(--color-primary);
    border-radius: 8px;
    color: white;
    width: 2rem;
    height: 1.2rem;
}

.floatingButtons {
  font-size: 2rem;
  position: absolute;
  top: 2.5rem;
  left: 5rem;
  z-index: 101;
  background-color: var(--color-primary);
  border-radius: 8px;
  color: white;
  width: 2rem;
  height: 1.2rem;
}

.left-buttons,
.right-buttons {
  display: flex;
  gap: 20px;
}

.upload-container {
  position: relative;
}

.upload-container button, .charts-button button{
  color: #fff;
  border: none;
  background-color: var(--color-primary-700);
  transition: var(--transition);
}

.upload-container button:hover, .charts-button button:hover{
  color: var(--color-primary);
  background-color: transparent;
  outline: 1px solid var(--color-primary);
}

.radio-buttons {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;  
}

.right-buttons button{
  transition: var(--transition);
}

.right-buttons button:hover{
  background-color: var(--color-primary-700);
  color: #fff;
}

.radio-buttons label {
  width: 100%;
  display: block;
}

.uploadBox {
  position: absolute;
  top: 50px;
  left: 20px;
  transform: translateX(-50%);
  opacity: 0;
  pointer-events: none;
  box-shadow: var(--box-shadow);
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: var(--card-border-radius);
  padding: 20px;
  transition: var(--transition);
  z-index: 999;
  width: 0;
  height: 0;
}

.active {
  width: 320px;
  height: auto;
  opacity: 1;
  pointer-events: auto;
  z-index: 999z;
}

.uploadbox.active + .buttonSectionContainer {
  z-index: 101;
}

.file-submit-button {
  margin-top: 20px;
  margin-bottom: 5px;
  border: none;
  font-weight: 500;
  background-color: var(--color-success-green) !important;
}

/* right buttons */
.right-buttons button{
  color: var(--color-primary-700);
  background-color: transparent;
  border: 1px solid var(--color-primary-700);
}




/*###################################  STATS SUB SECTION  ##################################*/
/* .mainSectionContainer <<<<>>>>
  display: grid;
  grid-template-columns: 196px 1fr;
  grid-template-rows: 75px 1fr;
<<<<>>>>> */

.stats-section{
  min-width: 85%;
  height: 200px;
  /* background-color: rgba(0, 0, 0, 0.5); */
  width: auto;
  padding: 0 2rem;
  margin: 3rem 0;
  display: grid;
  grid-template-columns: 2fr 1fr 1fr 1fr;
  padding: 2rem 0;
  align-items: center;
}

.color-box {
  width: 162px;
  min-width: 162px;
  max-width: 162px;
  height: 92;
  max-height: 92px;
  min-height: 92px;
  border-radius: 7px;
}

.left-color-box {
  height: 100%;
  width: 100%;
  position: relative;
}

.key-box {
  width: 205px;
  height: 86px;
  position: absolute;
  top: 30px;
  left: 50px;
  border-radius: 7px;
  background-color: #DBDBF5;
  padding: 10px;
}

.left-color-box h3 {
  position: absolute;
  bottom: -50px;
  left: 50px;
}

.stat-box1 {
  background-color: #C7E3D8;
}

.stat-box2 {
  background-color: #ECD8CA;
}

.stat-box3 {
  background-color: #EDC0CD;
}



/*###################################  TABLE SUB SECTION  ##################################*/
/* .mainSectionContainer <<<>>>>
  display: grid;
  grid-template-columns: 196px 1fr;
  grid-template-rows: 75px 1fr;
 <<<<>>>>>*/


.table-section-container {
  grid-row: 2;
  grid-column: 2;
  position: relative;
  margin-bottom: 2rem;
  height: auto;
}

table {
  /* border-collapse: collapse; */
  border-spacing: 0;
  table-layout: fixed;
  min-width: 85%;
  border: 1px solid black;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: var(--box-shadow);
  margin-bottom: 2rem;
  margin: auto;
}

table tr td:last-child {
  max-width: 110px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

th {
  font-size: 11.4px;
  background-color: var(--color-primary-light);
  padding: 10px 25px;
}

th {
  min-width: 110px;
}

/* change width of column 7, 8 */
th:nth-child(7), th:nth-child(8) {
  min-width: 83px;
}

/* change width of column 1 */
th:nth-child(1) {
  max-width: 15px;
  min-width: 15px;
}

/* somehow this is needed */
#assign-header {
  max-width: 110px;
}

td {
  font-size: 11px;
  text-align: center;
  padding: 5px 15px;
}

td:hover {
  cursor: pointer;
}

th,
td {
  text-wrap: nowrap;
}


/* change color of EXAM COLUMN */
table tr td:nth-child(7) { 
  background-color: var(--color-primary-light);
  max-width: 100px;
}

table th:nth-child(9n + 1) {
  padding: 0;
}

table tr:nth-child(even) {
  background-color: #e1d5f2;
}

table tr:nth-child(odd) {
  background-color: #dacaf0;
}

tr:hover {
  transition: var(--transition);
}

tr:hover td{
  background-color: var(--color-primary-300) !important;
}

input[type="checkbox"], input[type="radio"] {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  border: 2px solid var(--color-primary-light);
  outline: none;
  cursor: pointer;
  transition: var(--transition);
}

/* Style for checked state */
input[type="checkbox"]:checked, input[type="radio"]:checked {
  background-color: var(--color-accent); /* Change this color as needed */
  border-color: var(--color-primary-900);
  color: #fff;
}

tr:first-child td{
  border-top: 1px solid var(--color-primary-900);
}