/* ((((((((((((((((((((((((((((((((((((((((((((((((((((((((((((((((((((((((((((((((((((((((((((((((((((((((((((((((((((((((((((((((((((((((((((((((((((((((((((((((((signinPHP))))))))))))))))))))))))))))))))))))))))))))))))))))))))))))))))))))))))))))))))))))))))))))))))))))))))))))))))))))))))))))))))))))))))))))))))))))))))))))))))))))))))))))))))))))))))))))))))))))))))))))))))))))))))))))))))))))))))) */

.signInPageBody{
    /* background-image: url('images/signInBackgroundVisual.svg'); */
    display: grid;
    place-items: center;
}

.signInLogo{
    max-width: 200px;
    max-height: 200px;   
}

.logInformContainer{
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 75%;
    height: 500px;
    place-items: center;
    position: absolute;
    inset: 0;
    margin: auto;
}

.forgotPassword a:hover{
    font-size: 14px;
}



  